<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <p th:if="${#lists.isEmpty(tickets)}">You have no tickets</p>
    <form th:if="${!#lists.isEmpty(tickets)}"
        th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_USER_POST_DELETE_TICKETS}"
        method="post">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Passenger</th>
                    <th>Plane Number</th>
                    <th>From - To</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td>
                        <input type="radio" name="ticketId" th:value="${ticket.id}" required>
                    </td>
                    <td th:text="${ticket.id}"></td>
                    <td th:text="${ticket.passenger.userName}"></td>
                    <td th:text="${ticket.plane.id}"></td>
                    <td th:text="|${ticket.plane.siteStart} - ${ticket.plane.siteEnd}|"></td>
                    <td th:text="${ticket.plane.date}"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">
            Borrar ticket
        </button>
    </form>
    <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_USER_TO_HOMEPAGE}" method="post">
        <button type="submit">Back to home</button>
    </form>
</body>

</html>