<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Admin change password</title>

</head>

<body>
    <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_POST_ADMIN_CHANGE_PASSWORD}" method="post">
    <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter the old password" required />
    <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required />
    <button type="submit">Change Password</button>
    </form>
</body>

</html>