<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
</head>

<body>
    <h1>Create your user</h1>
    <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_POST_REGISTER}" method="post">
        <input type="text" name="userName" placeholder="Create a user name" required />
        <input type="password" name="password" placeholder="Create a password" required />
        <input type="number" name="phone" placeholder="Your phone number" required />
        <button type="submit">Register</button>
    </form>

</body>

</html>