<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Admin home page</title>

</head>

<body>
    <h2>Welcome administrator</h2>
    <p>Password</p>
    <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_POST_MOVE_TO_ADMIN_CHANGE_PASSWORD}" method="post">
        <button type="submit">Change password</button>
    </form>
    <p>Gestions of planes</p>
    <button>Create new plane</button>
    <button>View the information of the planes</button>
    <p>Gestions of information</p>
      <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_POST_MOVE_TO_ADMIN_SECURITY_COPY_LOCAL}" method="post">
        <button type="submit">Manage information</button>
        </form>
    <p>Log out</p>
        <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_LOGOUT}" method="post">
        <button type="submit">Logout</button>
        </form>
</body>

</html>