<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>AdminLogin</title>
</head>
<body>
    <form th:action="@{/AdminLogin}" method="post">
        <h1>Admin Login</h1>
        <p th:if="${badPassword}" th:text="${badPassword}"></p>
        <label for="password">Password:</label>
        <input type="password" id="adminPassword" name="adminPassword" placeholder="Enter admin password" required/>
        <br/>
        <button type="submit">Put the password</button>
    </form>
</body>
</html>