<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Admin home page</title>

</head>

<body>
    <h2>Welcome administrator</h2>
    <p>Password</p>
    <button>Change the password</button>
    <p>Gestions of planes</p>
    <button>Create new plane</button>
    <button>View the information of the planes</button>
    <p>Gestions of information</p>
    <button>Security copy in local memory</button>
    <button>Restored with Security Copy</button>
    <button>Delete all data</button>
    <p>Log out</p>
        <form th:action="${T(com.caribe.sur.enumerators.listFromClass.UrlFromPages).URL_LOGOUT}" method="post">
        <button type="submit">Register</button>
        </form>
</body>

</html>